@import 'variables';
@import 'mixin';

body {
  margin: 0;
  padding: 0;

  min-width: 320px;
  max-width: 1280px;

  margin-right: auto;
  margin-left: auto;
  
  color: rgba(0, 0, 0, 0.5);

  box-sizing: border-box;
}

.navbar {
  padding: 26px 9vw 14px 9vw;

  .navbar-brand img {
    height: 26px;
    width: auto;
  }

  .nav-item {
    .nav-link {
      @include link-decoration;
    }
  }
}

.main-content {
  margin-top: 80px;

  min-height: 90vh;
}

.footer {
  height: 100px;

  text-align: center;

  a {
    @include link-decoration;

    font-size: 16px;
    font-style: italic;
  }

  p {
    margin: 5px 0;
  }
}
